@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    
    @{
        ViewBag.Title = "RadialTidyTree";
    }
</head>
<body>
    <div>
        srgs
    </div>
</body>
</html>
