@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="~/Views/Shared/graph.js"></script>
    @{
        ViewBag.Title = "StatisticsWidget";
    }
</head>
<body>
    <canvas id="rice" width="216" height="400"></canvas>
</body>
</html>
