@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title></title>
    @{
        ViewBag.Title = "StatisticsWidget";
    }
</head>
<body>
    <canvas id="rice" width="216" height="400"></canvas>
    <canvas id="pie" width="216" height="400"></canvas>
</body>
</html>
