@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Views/Blog/Weather/WeatherWidget.js"></script>

    @{
        ViewBag.Title = "TwitterWidget";
    }
</head>
<body>

    <a class="twitter-timeline" data-lang="en" data-height="1000" data-dnt="true" data-theme="light" data-link-color="#497912" href="https://twitter.com/realDonaldTrump?ref_src=twsrc%5Etfw">Tweets by realDonaldTrump</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>
