@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Views/Blog/Weather/WeatherWidget.js"></script>

    @{
        ViewBag.Title = "WeatherWidget";
    }
</head>
<body>
    <div>
        Shaul knows the weather in here! Don't go outside because it is
        <label id="temperature" style="font-weight:normal"></label>
        °C in
        <label id="city" style="font-weight:normal"></label>

        <script>
            /* this script updates the WeatherWidget html by asking the user for coordinates
             * if something goes wrong
              */

            // api gets weather in kelvin, this function converts to celsius
            function convertKelvinToCelsius(temp) {
                temp = temp - 273.15;
                temp = Math.round(temp);
                return temp;
            }

            // update weather by city - use this function if updateWeatherByCoordinates doesn't work
            function updateWeatherByCity(city) {
                city.replace(" ", "%20") // replace spaces because the api doesn't process them
                let url = 'http://api.openweathermap.org/data/2.5/weather?q=' + city + '&APPID=ba2026bc54fa50d8b6537853222bd734';
                let temp;

                fetch(url)
                    .then(res => res.json())
                    .then((out) => { // out is full weather details
                        temp = convertKelvinToCelsius(out.main.temp);

                        document.getElementById('city').innerHTML = out.name;
                        document.getElementById('temperature').innerHTML = temp.toString();
                    })
                    .catch(err => { throw err });
            }

            // update weather by coordinates
            function updateWeatherByCoordinates(latitude, longitude) {

                let url = 'http://api.openweathermap.org/data/2.5/weather?lat=' + latitude + '&lon=' + longitude + '&APPID=ba2026bc54fa50d8b6537853222bd734';
                let temp;

                fetch(url)
                    .then(res => res.json())
                    .then((out) => { // out is full weather details
                        temp = convertKelvinToCelsius(out.main.temp);

                        document.getElementById('city').innerHTML = out.name;
                        document.getElementById('temperature').innerHTML = temp.toString();
                    })
                    .catch(err => { throw err });
            }

            function getCurrentPosition(updateWeatherByCoordinates) {

                function getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    }
                }

                function showPosition(position) {
                    latitude = position.coords.latitude;
                    longitude = position.coords.longitude;
                    updateWeatherByCoordinates(latitude, longitude);
                }

                getLocation(); // update the coordinates

            }

            getCurrentPosition(updateWeatherByCoordinates);

        </script>
    </div>
</body>
</html>
