@model ShauliBlog.Models.Post
@{
    ViewBag.Title = "TopPostView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#Refresh').click(function () {
            $("#blogPost").load('@(Url.Action("UpdateTopPost", "Blog", null, Request.Url.Scheme))');
        });
    });
</script>
<head>
    <link href="~/Content/11.css" rel="stylesheet" type="text/css" />
</head>

<h4>This page shows you the most commented posts, with some added logic.</h4>
<h4>if you are not loged in it shows the highest commented post, if you are loged in it shows you the highest commented post by you, if the user name match to the author of the comment.</h4><br />

<article class="blogPost" id="blogPost">
    @{Html.RenderPartial("PartialTopPost", Model);}
</article>
<p>
    @Html.ActionLink("Return", "Blog")
    <br />
    <button type="button" id="Refresh">Refresh</button>
</p>