<div>
    <h1> Statistics & Management</h1>
    <div id="commentsNumByAuthorContainer">
        <h3> Comments Number By Author</h3>
        <table id="commentsByAuthorTable">
            <thead>
                <tr>
                    <th>PostTitle</th>
                    <th>NumOfComments</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <canvas id="commentsNumByAuthPie" width="200" height="100"></canvas>

        <br />
        <br />
        <br />

        <h3>Number Of Comments Per Post</h3>
        <canvas id="commentsPerPost"></canvas>
    </div>
</div>


<!-- Retrieving comments number by author, orginizing the data in a table -->
<script>
    $(function getCommentsNumberByAuthor() {
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/Statistics/getCommentsNumberByAuthor",
                success: function (data) {
                    if (data.length > 0) {
                        // Initializing arrays
                        let rowsArray = [];
                        let commentsByAuthorData = {
                            labels: [],
                            datasets:
                                [
                                    {
                                        label: 'comments by author',
                                        fillColor: "rgba(172,194,132,0.4)",
                                        strokeColor: "#ACC26D",
                                        pointColor: "#fff",
                                        pointStrokeColor: "#9DB86D",
                                        data: []
                                    }
                                ]
                        }

                        parseServerData(data, rowsArray, commentsByAuthorData);

                        // Appending data to table
                        $("#commentsByAuthorTable").append(rowsArray);

                        // Creating chart
                        var commentsChart = document.getElementById('commentsNumByAuthPie').getContext('2d');
                        new Chart(commentsChart, {
                            type: 'line',
                            data: commentsByAuthorData,
                        });
                    }
                },
                error: function (jqXHR, exception) { // jqXHR helps retrieving the status code
                    alert("Error occured when trying to retrieve comments by author data");
                    $("#commentsByAuthorTable").append("<tr><td> exception: " + jqXHR.responseText + "</td></tr>");
                }
            });
        })
    })


    function parseServerData(data, rowsArray, commentsByAuthorData) {
        for (var i = 0; i < data.length; i++) { 
            // Creating a new table row 
            rowsArray.push("<tr>");
            rowsArray.push("<td>" + data[i].authorName + "</td>");
            rowsArray.push("<td>" + data[i].commentsNumber + "</td>");
            rowsArray.push("</tr>");

            // Used when presenting statistics chart
            commentsByAuthorData.labels.push(data[i].authorName);
            commentsByAuthorData.datasets[0].data.push(data[i].commentsNumber);
        }
    }



    $.post("/Statistics/CommentsPerPost", function (data) {
        var titles = [];
        var counters = [];
        
        for (var i = 0; i < data.length; i++) {
            titles.push(data[i].PostTitle);
            counters.push(data[i].NumberOfComments);
        }

        var pieData = {
            labels: titles,
            datasets:
                [
                    {
                        label: 'Comments Per Post',
                        fillColor: "rgba(172,194,132,0.4)",
                        strokeColor: "#ACC26D",
                        pointColor: "#fff",
                        pointStrokeColor: "#9DB86D",
                        data: counters,
                        backgroundColor: ['rgba(205, 0, 0, 0.1)', 'rgba(0, 69, 123, 0.1)', 'rgba(0, 100, 123, 0.1)', 'rgba(0, 0, 123, 0.1)']
                    }
                ]
        }


        $(document).ready(function () {
            var pie = document.getElementById('commentsPerPost').getContext('2d');
            new Chart(pie, {
                type: 'doughnut',
                data: pieData,
            });
        })        
    });
</script>
